form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input{
  border: none;
  outline: none;
}


.forms{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.form--1{
  align-self: center;
  background-color: rgb(70, 67, 100);
  height: 50%;
  padding: 1.5rem;
  border-radius: 2px;
}

.form--input{
  background-color: inherit;
  margin-bottom: 1rem;
  width: 20vw;
  height: 2vh;
  border-bottom: 1px solid white;
  color: white;
}
.form--input::placeholder{
  font-size: 1rem;
  color: white;
  transform: scale(.9);
  transition: all .4s ease-in-out;
}

.form--input:focus::placeholder{
  transform: scale(1);
}

.btn{
  width: 8rem;
  height: 2rem;
  font-size: 1.1rem;
}