
.forms{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input{
  border: none;
  outline: none;
}

.form--input{
  margin-bottom: 1rem;
  width: 20vw;
  height: 2vh;
  border-bottom: 1px solid black;
}
.form--input::placeholder{
  font-size: 1.2rem;
}

.btn{
  width: 8rem;
  height: 2rem;
  font-size: 1.1rem;
}